<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.XamarinNotifications">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="XamarinNotifications.Android"></application>
  <receiver
    android:name=".MyAlarmReceiver"
    android:process=":remote"
    android:enabled="true"
    android:exported="true">
  </receiver>
  <service
      android:name=".MyTestService"
      android:exported="true"
      android:enabled="true" />
</manifest>
